@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
    width: 572px;
    padding: 8% 0 0;
    margin: auto;
}

.sims-login-title {
    color: #18aa91;
		font-weight: 600;
		font-size: 49px;
		font-family: "iCiel Pacifico", sans-serif;
		margin: 0 0 15px;
}

.sims-login-slogan {
    color: #18aa91;
		font-style: italic;
		font-size: 21px;
		margin-top: 0;
		margin-bottom: 75px;
}

.xanh {
    color: #18aa91;
}

.nghien {
    font-style: italic
}


.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 400px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
    background: #fff;
    width: 100%;
    border: 1px solid #b9b9b9;
    border-radius: 5px;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    text-transform: uppercase;
    outline: 0;
		background: #18aa91;
		border-radius: 5px;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #18aa91;


}

.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.form .message a {
    color: #18aa91;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

.container:before,
.container:after {
    content: "";
    display: block;
    clear: both;
}

.container .info {
    margin: 50px auto;
    text-align: center;
}

.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}

.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}

.container .info span a {
    color: #000000;
    text-decoration: none;
}

.container .info span .fa {
    color: #EF3B3A;
}

/* Chrome, Opera, Safari */
::-webkit-input-placeholder {
    color: #18aa91;

    font-style: italic;
}

/* Firefox 19+ */
::-moz-placeholder {
    color: #18aa91;

    font-style: italic;
}

/* IE 10+ */
:-ms-input-placeholder {
    color: #18aa91;

    font-style: italic;
}

/* Firefox 18- */
:-moz-placeholder {
    color: #18aa91;

    font-style: italic;
}


body {
    background: #fdfffc;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #ffffff, #ffffff);
    background: -moz-linear-gradient(right, #ffffff, #ffffff);
    background: -o-linear-gradient(right, #ffffff, #ffffff);
    background: linear-gradient(to left, #ffffff, #ffffff);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.modal-login {
    color: #636363;
    width: 350px;
}

.modal-login .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
}

.modal-login .modal-header {
    border-bottom: none;
    position: relative;
    justify-content: center;
}

.modal-login h4 {
    text-align: center;
    font-size: 26px;
}

.modal-login .form-group {
    position: relative;
}

.modal-login i {
    position: absolute;
    left: 13px;
    top: 11px;
    font-size: 18px;
}

.modal-login .form-control {
    padding-left: 40px;
}

.modal-login .form-control:focus {
    border-color: #18aa91;
}

.modal-login .form-control,
.modal-login .btn {
    min-height: 40px;
    border-radius: 3px;
}

.modal-login .hint-text {
    text-align: center;
    padding-top: 10px;
}

.modal-login .close {
    position: absolute;
    top: -5px;
    right: -5px;
}

.modal-login .btn {
    background: #18aa91;
    border: none;
    line-height: normal;
}

.modal-login .btnxanh {
    background: #18aa91;
    border: none;
    line-height: normal;
}

.modal-login .btntrang {
    background: white;
    border-style: ridge;
    line-height: normal;
}

.modal-login .dai {
    width: 200px;
}

.modal-login .btn:hover,
.modal-login .btn:focus {
    background: #18aa91;
}

.modal-login .modal-footer {
    background: #ecf0f1;
    border-color: #dee4e7;
    text-align: center;
    margin: 0 -20px -20px;
    border-radius: 5px;
    font-size: 13px;
    justify-content: center;
}

.modal-login .modal-footer a {
    color: #999;
}

.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}